
html { overflow-y: scroll; }

h2 { color: #0088cc }
h1, h3, h4 { color: #133346; }

/* keynote horizontal card pics */
.card-img{
  object-fit: contain; 
  max-height: 200px;
}

/* homepage card icon pics */
.card-img-top{
  object-fit: contain;
  max-height: 100px;
  border: 2px solid black;
  border-radius: 3px 3px 0 0;
}

/* agenda table on program page */
table{ min-width: 80% }
th{ padding: 10px; }
td{ padding: 10px; }

* {
  box-sizing: border-box;
}

/* Float three columns side by side */
.column {
  object-fit: contain; 
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: "inline";
  clear: both;
}

/* Style the counter cards */
.card-footer {
  box-shadow: 0; /* this adds the "card" effect */
  border: 0;
  padding: 16px;
  text-align: center;
  background-color: #FFFFFF;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* page header */
.page-header {
  width: 100%;
  background-color: $blue-500;
  background-repeat: no-repeat;
  background-position: center center;
}
