<!DOCTYPE HTML>
<footer>
<div class="container mb-9">
	<hr>
<div class="row">
  <div class="column" style="display:flex;align-items:center;">
    <div class="card-footer">
	    <h3> Supported by </h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card-footer">
	<a href="https://www.maastrichtuniversity.nl/research/bioinformatics"><img src="/bytemal-2024/images/Sponsors/bigcat.png" alt="BiGCAT_logo" 
		style="height:100px;max-height:100%;width:auto;margin-top:50px;margin-bottom:20px;vertical-align:middle;">
	</a>
    </div>
  </div>

  <div class="column">
    <div class="card-footer">
	<a href="https://www.maastrichtuniversity.nl/research/maastricht-centre-systems-biology"><img src="/bytemal-2024/images/Sponsors/macsbio.png" alt="MaCSBio_logo" 
		style="height:100px;max-height:100%;width:auto;margin-top:50px;margin-bottom:20px;vertical-align:middle;">
	</a>
    </div>
  </div>

<div class="column">
    <div class="card-footer">
	<a href="https://www.ufl-swol.nl/"><img src="/bytemal-2024/images/Sponsors/swol.png" alt="SWOL_logo" 
		style="height:100px;max-height:100%;width:auto;margin-top:50px;margin-bottom:20px;vertical-align:middle;">
	</a>
    </div>
  </div>
	
  <div class="column">
    <div class="card-footer">
	<a href="https://www.maastrichtuniversity.nl/research/school-nutrition-and-translational-research-metabolism"><img src="/bytemal-2024/images/Sponsors/nutrim.png" alt="NUTRIM_logo" 
		style="height:100px;max-height:100%;width:auto;margin-top:50px;margin-bottom:20px;vertical-align:middle;">
	</a>
    </div>
  </div>

  <div class="column">
    <div class="card-footer">
	<a href="https://www.maastrichtuniversity.nl/nl/over-de-um/faculteiten/faculty-science-and-engineering"><img src="/bytemal-2024/images/Sponsors/fse.jpg" alt="FSE_logo" 
		style="height:100px;max-height:100%;width:auto;margin-top:50px;margin-bottom:20px;vertical-align:middle;">
	</a>
    </div>
  </div>

<div class="column">
    <div class="card-footer">
	<a href="https://www.nwo.nl"><img src="/bytemal-2024/images/Sponsors/nwo.png" alt="NWO_logo" 
		style="height:100px;max-height:100%;width:auto;margin-top:50px;margin-bottom:20px;vertical-align:middle;">
	</a>
    </div>
  </div>
	
</div>
</div>
</footer>
