<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- link to main stylesheet -->

	<link rel="stylesheet" type="text/css" href="/bytemal-2024/css/main.css">

</head>

<body>	

  {% include octocat_corner.html %}
    <div class="page-header pt-4 pb-5">
      <div class="container-lg">

		<div style="text-align: center;">
		<a href="/bytemal-2024/"><img src="/bytemal-2024/images/byteMAL_2024_logo.png" alt="ByteMAL_2024_logo" class = "center" 
		style="width:750px;max-width:100%;height:auto;margin-top:40px;margin-bottom:20px;">
		</a>
		<ul>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/bytemal-2024/about" class="text-dark" style="color: #F9664D; font-size: 24px">About</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/bytemal-2024/program" class="text-dark" style="color: #F9664D; font-size: 24px">Program</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/bytemal-2024/venue" class="text-dark" style="color: #F9664D; font-size: 24px">Venue</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/bytemal-2024/register" class="text-dark" style="color: #F9664D; font-size: 24px">Register</a></li>
	  <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/bytemal-2024/register" class="text-dark" style="color: #F9664D; font-size: 24px">Contact</a></li>
		</ul>
		</div>
		
		
		<div class="container px-3">
			{{ content }}
		</div>
	    </div>
	</div><!-- /.container -->
	
	{% include footer.html %}
	
	<!-- javascript for bootstrap dropdowns etc -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
